.loginPage{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(212,175,55,1);
    background:  linear-gradient(145deg, rgba(120,120,120,1) 35%, rgba(43,43,43,1) 100%);
}